@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// $bp-largest: 140em; // 2240px
$bp-largest: 84.3em; // 1350px
$bp-large:62.5em; // 1000px
$bp-medium: 50em; // 800px
$bp-small: 37.5em; // 600px


#root {
  overflow-x: hidden;
  position: relative;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  @media only screen and (max-width: $bp-large){
    font-size: 50%;
  }
  @media only screen and (max-width: $bp-small){
    font-size: 58%;
  }
}

:root {
  --dark-blue: hsl(233, 26%, 24%);
  --lime-green: hsl(136, 65%, 51%);
  --bright-cyan: hsl(192, 70%, 51%);
  --grayish-blue: hsl(233, 8%, 62%);
  --light-grayish-blue: hsl(220, 16%, 96%);
  --very-light-gray: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
}


body {
  font-family: "Public Sans", sans-serif;
}

.container {
  width: 85vw;
  max-width: 140rem;
  margin: 0 auto;
}

.hidden {
  display: none !important;
}

.menuOn {
  left: 10% !important;
}

.btn {
  padding: 1.4rem 2.8rem;
  border: none;
  border-radius: 15rem;
  background-image: linear-gradient(to right, var(--lime-green), var(--grayish-blue));
  color: var(--white);
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.btn:hover { 
  background-image: linear-gradient(to right, hsl(136, 56%, 71%), var(--grayish-blue));
}