@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


// $bp-largest: 140em; // 2240px
$bp-largest: 84.3em; // 1350px
$bp-large:62.5em; // 1000px
$bp-medium: 50em; // 800px
$bp-small: 37.5em; // 600px



body {
  overflow-x: hidden;
}


#root {
  overflow-x: hidden;
  position: relative;
}


html {
  box-sizing: border-box;
  font-size: 62.5%;
  @media only screen and (max-width: $bp-large){
    font-size: 50%;
  }
  @media only screen and (max-width: $bp-small){
    font-size: 58%;
  }
}


:root {
  --dark-blue: hsl(233, 26%, 24%);
  --lime-green: hsl(136, 65%, 51%);
  --bright-cyan: hsl(192, 70%, 51%);
  --grayish-blue: hsl(233, 8%, 62%);
  --light-grayish-blue: hsl(220, 16%, 96%);
  --very-light-gray: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
}


body {
  font-family: "Public Sans", sans-serif;
}


.navbar {
  display: flex;
  align-items: center;
  padding: 1.6rem 0;
  justify-content: space-between;
  position: relative;
  z-index: 20;
  background-color: var(--white);
  @media only screen and (max-width: $bp-medium){
    justify-content: space-around;
    width: 100vw !important;
  }
  &__menu {
    @media only screen and (max-width: $bp-medium){
      position: absolute;
      top: 10rem;
      left: 100%;
      flex-direction: column;
      background-color: var(--white);
      width: 80%;
      padding: 3rem;
      gap: 4rem;
      z-index: 10;
    }
    transition: all .2s ease-in-out;
    display: flex;
    align-items: center;
    gap: 2rem;
    list-style: none;
    border-radius: 5px;
    & li {
      position: relative;
      font-size: 1.4rem;
      color: var(--grayish-blue);
      cursor: pointer;
      @media only screen and (max-width: $bp-medium){
        font-size: 2.4rem;
        color: var(--dark-blue);
      }
    }
    & li::after {
      content: '';
      width: 0;
      height: .5rem;
      background-image: linear-gradient(to right, var(--lime-green), var(--grayish-blue));
      position: absolute;
      bottom: -3rem;
      left: 0;
      border-radius: 5px;
      transition: all .2s ease-in-out;
    }
    & li:hover:after {
      width: 100%;
    }
  }
  &__hamburger {
    &--menu {
      display: none;
      @media only screen and (max-width: $bp-medium){
        display: block;
      }
    }
  }
  &__btn {
    @media only screen and (max-width: $bp-medium){
      display: none;
    }
  }
  .overlay {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to bottom, hsla(233, 26%, 24%, 0.71), rgba(255, 255, 255, 0.23));
    top: 6rem;
    z-index: 5;
  }
}



.hero {
  width: 100vw;
  max-width: 140rem;
  height: 75vh;
  background-color: var(--very-light-gray);
  display: grid;
  grid-template-columns: 40% 60%;
  margin: 0 auto;
  @media only screen and (max-width: $bp-medium){
    grid-template-columns: 1fr;
    grid-template-rows: .7fr .3fr;
    height: auto;
  }
  
  &__desc {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 0;
    @media only screen and (max-width: $bp-largest){
      justify-content: center;
    }
    @media only screen and (max-width: $bp-medium){
      justify-content: center;
      padding-bottom: 10rem;
    }
    &--content {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      @media only screen and (max-width: $bp-largest){
        align-items: center;
      }
      gap: 3rem;
      width: 80%;
      & h1 {
        font-size: 4.4rem;
        font-weight: 300;
        & span {
          display: block;
        }
      }
      & p {
        font-size: 1.6rem;
        color: var(--grayish-blue);
        & span {
          display: block;
        }
      }
    }
  }
  &__img {
    background-image: url('../images/bg-intro-desktop.svg');
    background-repeat: no-repeat;
    background-position: left;
    position: relative;
    @media only screen and (max-width: $bp-medium){
      grid-row: 1;
      background-image: url('../images/bg-intro-mobile.svg');
      background-size: cover;
    }
    & img {
      position: absolute;
      z-index: 1;
      width: 85%;
      max-width: 65rem;
      top: -10rem;
      right: -10rem;
      @media only screen and (max-width: $bp-medium){
        position: relative;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
}



.choose {
  background-color: var(--light-grayish-blue);
  width: 100vw;
  max-width: 140rem;
  margin: 0 auto;
  padding: 8rem 0;
  &__content {
    display: flex;
    flex-direction: column;
    gap: 6rem;
    &--title {
      @media only screen and (max-width: $bp-medium){
        text-align: center;
      }
      & h2 {
        font-size: 3rem;
        font-weight: 300;
        margin-bottom: 2rem;
      }
      & p {
        font-size: 1.4rem;
        color: var(--grayish-blue);
        & span {
          display: block;
        }
      }
    } 
    &--features {
      display: flex;
      align-items: center;
      justify-content: center;
      @media only screen and (max-width: $bp-medium){
        flex-direction: column;
        gap: 5rem;
      }
      .feature {
        display: flex;
        flex-direction: column;
        gap: 3rem;
        @media only screen and (max-width: $bp-medium){
          align-items: center;
        }
        &__content {
          &--title {
            font-size: 1.8rem;
            font-weight: 300;
            margin-bottom: 2rem;
            color: var(--dark-blue);
            @media only screen and (max-width: $bp-medium){
              text-align: center;
            }
          }
          &--desc {
            font-size: 1.4rem;
            width: 80%;
            color: var(--grayish-blue);
            @media only screen and (max-width: $bp-medium){
              width: 100%;
              text-align: center;
            }
          }
        }
      }
    }
  }
}


.articles {
  width: 100vw;
  max-width: 140rem;
  margin: 0 auto;
  padding: 8rem 0;
  background-color: var(--very-light-gray);
  &__content {
    & h2 {
      font-size: 3.5rem;
      font-weight: 300;
      margin-bottom: 3rem;
      color: var(--dark-blue);
    }
    &--list {
      display: grid;
      grid-template-columns: repeat( auto-fit, minmax(20rem, 1fr));
      grid-column-gap: 2rem;
      grid-row-gap: 4rem;
      .article {
        width: 100%;
        background-color: var(--white);
        box-shadow: 0 .4rem 2rem rgba(0, 0, 0, 0.04);
        border-radius: 5px;
        overflow: hidden;
        grid-template-rows: 1fr 1fr;
        display: grid;
        grid-row-gap: 1rem;

        @media only screen and (max-width: $bp-small){
          grid-template-rows: 1fr 20rem;
        }

        &__img {
          height: 50%;
          & img {
            width: 100%;
            aspect-ratio: 3 / 2.1;
          } 
        }
        &__data {
          padding: 0 2rem;
          display: flex;
          flex-direction: column;
          gap: 2rem;
          &--autor {
            color: var(--grayish-blue);
          }
          &--title {
            font-size: 1.8rem;
            color: var(--dark-blue); 
            font-weight: 300;
            cursor: pointer;
            transition: all .2s ease-in-out;
          }
          &--title:hover {
            color: var(--lime-green); 
          }

          &--text {
            font-size: 1.3rem;
            line-height: 1.4;
            color: var(--grayish-blue);
          }

        }
      }
    }
  }
}


.footer {
  background-color: var(--dark-blue);
  &__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 5rem 0;
    @media only screen and (max-width: $bp-medium){
      grid-template-columns: 1fr; 
      grid-template-rows: .2fr auto .2fr;
      grid-row-gap: 3rem;
      justify-items: center;
    }
    &--logo_social {
      display: flex;
      flex-direction: column;
      gap: 4rem;
      &-media {
        display: flex;
        gap: 2rem;
        cursor: pointer;
        & svg {
          fill: white;
          transition: all .2s ease-in-out;
        }
        & svg:hover {
          fill: var(--lime-green);
        }
      }
    }
    &--options {
      display: flex;
      align-items: center;
      gap: 8rem;
      @media only screen and (max-width: $bp-medium){
        flex-direction: column;
        gap: 2rem;
      }
      & ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        @media only screen and (max-width: $bp-medium){
          align-items: center;
        }
        & li {
          color: var(--white);
          font-size: 1.4rem;
          cursor: pointer;
        }
        & li:hover {
          color: var(--grayish-blue);
          transition: all .2s ease-in-out;
        }
      }
    }
    &--action {
      display: flex;
      flex-direction: column;
      align-items: end;
      justify-content: center;
      gap: 2rem;
      @media only screen and (max-width: $bp-small){
        align-items: center;
      }
      & p {
        color: var(--grayish-blue);
        font-size: 1.2rem;
      }
    }
  }
}





.container {
  width: 85vw;
  max-width: 140rem;
  margin: 0 auto;
}

.hidden {
  display: none;
}

.menuOn {
  left: 10% !important;
}

.btn {
  padding: 1.4rem 2.8rem;
  border: none;
  border-radius: 15rem;
  background-image: linear-gradient(to right, var(--lime-green), var(--grayish-blue));
  color: var(--white);
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.btn:hover { 
  background-image: linear-gradient(to right, hsl(136, 56%, 71%), var(--grayish-blue));
}