.articles {
  width: 100vw;
  max-width: 140rem;
  margin: 0 auto;
  padding: 8rem 0;
  background-color: var(--very-light-gray);
  &__content {
    & h2 {
      font-size: 3.5rem;
      font-weight: 300;
      margin-bottom: 3rem;
      color: var(--dark-blue);
    }
    &--list {
      display: grid;
      grid-template-columns: repeat( auto-fit, minmax(20rem, 1fr));
      grid-column-gap: 2rem;
      grid-row-gap: 4rem;
      .article {
        width: 100%;
        background-color: var(--white);
        box-shadow: 0 .4rem 2rem rgba(0, 0, 0, 0.04);
        border-radius: 5px;
        overflow: hidden;
        grid-template-rows: 1fr 1fr;
        display: grid;
        grid-row-gap: 1rem;

        @media only screen and (max-width: $bp-small){
          grid-template-rows: 1fr 20rem;
        }

        &__img {
          height: 50%;
          & img {
            width: 100%;
            aspect-ratio: 3 / 2.1;
          } 
        }
        &__data {
          padding: 0 2rem;
          display: flex;
          flex-direction: column;
          gap: 2rem;
          &--autor {
            color: var(--grayish-blue);
          }
          &--title {
            font-size: 1.8rem;
            color: var(--dark-blue); 
            font-weight: 300;
            cursor: pointer;
            transition: all .2s ease-in-out;
          }
          &--title:hover {
            color: var(--lime-green); 
          }

          &--text {
            font-size: 1.3rem;
            line-height: 1.4;
            color: var(--grayish-blue);
          }

        }
      }
    }
  }
}